<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET uygulamanızı nasıl yapılandıracağınız hakkında daha fazla bilgi için lütfen şu adresi ziyaret edin:
   https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <clear />
    <add name="baglantim" connectionString="Data Source=PO\SQL;Initial Catalog=SoftwareProjectDat;Integrated Security=True" />
    <add name="MainProjectConnectionString" connectionString="Data Source=po\sql;Initial Catalog=SoftwareProjectDat;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>

    <!--webin içerisinde olması lazım.Membership Düğümü machine.config dosyasından aldık.Yapıştırdık.-->
    <membership defaultProvider="UyelikSistemi">
      <providers>
        <clear/>
        <add name="UyelikSistemi" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             connectionStringName="baglantim"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             applicationName="/"
             requiresUniqueEmail="true"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="3"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>

    <!--Kimin giriş yapıp kimin yapamıcağını bizim belirlediğimiz durum.-->
    <!--default giriş yaptıktan sonra hamgi safaya yönlendirilcek belirler-->
    <authentication mode="Forms">
      <forms slidingExpiration="true" timeout="30" defaultUrl="MainPage.aspx" loginUrl="LoginPage.aspx"></forms>
    </authentication>
    
  </system.web>
  <system.codedom>
   
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
          type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
          type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
